<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title Document
    body
        .lay
            .lay__top

            .lay__main
                .lay__main1 
                .lay__main2 
                .lay__main3
                    .lay__main3-1 3-1
                    .lay__main3-2 3-2